@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: "Readex Pro" ;
	height: 100vh;
	min-height: 100vh;
	width: 100%;
}

nav{
	background: #EDEDED;
	height: 15%;
	width: 100%;
	display: block;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid #A4C6EB;
}


label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding-left: 40px;
	font-weight: bold;
	float: left;
}

.navbar-btn{
	margin: 25px 100px 100px 25px;
	font-size: 20px;
	border: 1px solid #ADD9BD;
	border-radius: 30px;
	padding: 12px;
	background: #ADD9BD;
	color: #2E736E;
	text-transform: uppercase;
	font-family: Readex Pro;
	font-style: normal;
	transition: 0.3s ease-in;
	opacity: .8;

}

.navbar-btn:hover{
	cursor: pointer;
	padding: 15px;
	transition: ease-out 0.3s;
	opacity: 1;
	border: 1px solid #2E736E;
}

/** LİNE DENEMESİ
.vertical-line{
	border-left: 4px solid black;
	display: block; 
	height: 25px;
	margin: 0 auto;
	width: 1px;
} **/

/****** ANA BÖLGE BAŞLANGICI ******/

.home{
	background: #EDEDED;
	margin: 0px;
	height: 80%;
	width: 100%;
	display: inline-block;
}

.home-left{
	float: left;
	position:absolute;
	top: 35%;
  	left:25%;
  	margin-left:-100px;
}

.home-right{
	float: right;
	position:absolute;
	top: 35%;
  	right:25%;
  	margin-right:-100px;
}

.accept-btn{
	height: 280px;
	width: 280px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 150px;
	transition: 0.3s ease-in;
	opacity: .8;
}

.accept-btn:hover{
	height: 300px;
	width: 300px;
	font-size: 36px;
	opacity: 1;
	border-radius: 200px;
}


.doctor-btn{
	background: #FFA2A2;
	box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.25);
	color: #D52626;
	font-size: 30px;
	font-weight: 600;
}

.patient-btn{
	background: #CCC1DE;
	box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.25);
	color: #733878;
	font-size: 30px;
	font-weight: 600;
}

footer{
	height: 5%;
	background: #EDEDED;
	text-align: center;
}

.box{
	height: 350px;
	width: 750px;
	border: 1px solid black;
	background: #EDFBF2;
	opacity: 0.6;
	border-radius: 54px;
	align-items: center;
	justify-content: center;
	align-self: center;
	vertical-align: middle;
	text-align: center;
	padding: 30px;
}

.baslik h1, button{
	display: inline-block;
	vertical-align: middle;
}

.baslik button{
	float: right;
}

.baslik h1{
	color: #469B85;
	font-weight: 500;
	font-size: 38px;
	line-height: 60px;
	vertical-align: middle;
	align-self: center;
}
.aciklama p{
	color: black;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
}

.aciklama{
	padding: 30px;
}

.cls-btn{
	background: transparent;
	font-size: 40px;
	border: none !important;
	border-radius: 80px;
	border-style: none;
	border: none;
}

.cls-btn:hover{
	cursor: pointer;
}

.cls-btn i{
	color: red;
}


.about-sec{
  	position:absolute;
  	top:25%;
  	left:30%;  
  	margin-left:-100px; /*this is half of width of your div*/
  	display: none;
}


