
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Anasayfa</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="~/homepage/style/style.css">
	<script src="https://kit.fontawesome.com/db6944ce6d.js" crossorigin="anonymous"></script>
</head>

<body>

	<nav>@*
		<label class="logo">Logomuz</label>*@
		<img src="~/images/logo.png" loading="lazy" alt="" class="logo"/>
		<button class="navbar-btn" id="about-app-btn">Uygulama Hakkında</button>
		<button class="navbar-btn" id="about-hospital-btn" >Hastane Hakkında</button>
		<button class="navbar-btn" id="about-iletisim-btn">İletİşİm</button>
		<button class="navbar-btn"><i class="fas fa-globe"></i></button>
	</nav>



	<div class="home">
		<div class="home-left">
			<div class="doctor">
				<button class="accept-btn doctor-btn"><a href ="/Patient/DoctorLogin/">DOKTOR<br> GİRİŞİ</a></button>
				
			</div>
		</div>

		<div class="home-right">
			<div class="patient">
				
				<button class="accept-btn patient-btn"><a href ="/Patient/PatientLogin/">HASTA<br> GİRİŞİ</a></button>

			</div>
		</div>
	</div>


	<footer>
		<p>copyright Gülşah Kübra Sude</p> 
	</footer>



	<!-- UYGULAMA HAKKINDA KISMI -->
	<div class="about-sec" id="about-app-id">
		<div class="box">
			<div class="baslik">
				<h1>UYGULAMA HAKKINDA</h1>
				<button class="cls-btn" id="cls-btn-app-id"><i class="fa-solid fa-rectangle-xmark"></i></button>
			</div>
			<div class="aciklama">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br></p>
			</div>
		</div>
	</div>




	<!-- HASTANE HAKKINDA KISMI -->
	<div class="about-sec" id="about-hospital-id">
		<div class="box">
			<div class="baslik">
				<h1>HASTANE HAKKINDA</h1>
				<button class="cls-btn" id="cls-btn-hospital-id"><i class="fa-solid fa-rectangle-xmark"></i></button>
			</div>
			<div class="aciklama">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>

	<!-- İLETİŞİM KISMI OLACAK HENÜZ HAZIR DEĞİL-->
			<div class="about-sec" id="about-iletisim-id">
		<div class="box">
			<div class="baslik">
				<h1>İLETİŞİM</h1>
				<button class="cls-btn" id="cls-btn-iletisim-id"><i class="fa-solid fa-rectangle-xmark"></i></button>
			</div>
			<div class="aciklama">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>


	
	<script type="text/javascript" src="~/homepage/script/script.js"></script>
	
</body>
</html>