@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">
    <link href = "~/css/docstyle.css" rel = "stylesheet" type = "text/css">

<title>Doktor Giriş</title>
</head>

<body>
        <div class="navbar">
            <a href= "/Home/Index/">
            <img src="~/images/logo.png" class="logo" >
            </a>
        </div>

        <div class = "row" >
            <div class="col-1">
                <h1>DOKTOR GİRİŞ</h1>
            </div>

            <div class="col-2">
                <div class="rectangle">

                    <div class="login-box">
                         <form class="#" method="post">
                        <div class="mail-box">
                            <label> Kullanıcı adı:</label>
                            <input type="text" class="name" name="Username" required="" >
                        </div>
                        <div class="pass-box">
                            <label>Parola:</label>
                            <input type = "password" class="name" name="Password" required="">
                        </div>

                    
                        <input class= "btn" type = "submit" name="" value="GİRİŞ">
                        <span class="alert-danger" style="color: red;">@ViewData["warning"]</span>
                      </form> 
                        <input class= "bilgibtn"type = "button" name="" value="Bilgi işlem ile iletişime geç">

                    </div>

                </div>

            </div>
           
        </div>
    
</body>

</html>