@{
  Layout = null;
}
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">
    <link href = "~/css/docstyle.css" rel = "stylesheet" type = "text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">

    <title>Doktor Giriş</title> 
  </head>
  
  <body> 
    <h1>DOKTOR GİRİŞ</h1>

    <div class = "rectangle"></div>

    <div class = "login-box">
      <div class = "box"> 
          <form class="#" method="post">

              <div class = "col-md-12">

                  <div class="col-md-6 textbox">
                      <label>Kullanıcı Adı:</label>
                      <input type = "text" class="name" name="Username" required="" >
                  </div>

                  <div class="col-md-6 textbox">
                      <label>Parola:</label>
                      <input type = "password" class="name" name="Password" required="">
                  </div>
              </div>

              <input class= "btn" type = "submit" name="" value="GİRİŞ">
        </form>
      </div>

      <input class= "bilgibtn" type = "button" name="" value="Bilgi İşlem ile İletişime Geç">

    </div>

  </body>
</html>
