@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">
    <link href="~/hasta-kayit-birlesik/styles/style.css" rel="stylesheet">

    <title>Parolamı Unuttum</title>
</head>
<body class="body">
    <div class="containerust w-container">
        <div class="divblock">
            <img src="~/hasta-kayit-birlesik/images/logo.png" class="logo">
            <div class="divsol">


                <div class="div-center">
                    <div class="text-block-7">HASTA KAYIT</div>
                    <div class="divorta">
                        <div class="divust">
                            <div class="text-block-8">KİŞİSEL BİLGİLER</div>
                        </div>
                        <div class="divalt">
                            <form id="form-sag" name="wf-form-" data-name="" method="post" class="form-2" action="@Url.Action("PNewPassword","Patient")">
                            <div class="divaltsol">
                                <div class="form-block w-form">
                                        <div class="div-block-3">
                                            <div class="text-block-9">Yeni Parola:</div>
                                            <input type="password" class="text-field-2 w-input" maxlength="256" name="NewPass" data-name="Field" placeholder="Yeni Parola" id="field" required="" />
                                        </div>
                                        <div class="div-block-3">
                                            <div class="text-block-10">Yeni Parola (Tekrar):</div>
                                            <input type="password" class="text-field w-input" maxlength="256" name="NewPassRepeat" data-name="Field 4" placeholder="Yeni Parola (Tekrar)" id="field-4" required="" />
                                            <input type="hidden" class="text-field w-input" maxlength="256" name="PatientId" data-name="Field 4" value="@ViewData["PatientId"]" id="field-4" required="" />
                                        </div>
                                </div>
                            </div>
                            <span class="alert-danger" style="color: red;">@ViewData["warning"]</span>
                    <input class="btn" type="submit" name="" id="btnKaydet" value="Kaydet">
                    </form>
                        </div>

                    </div>
                </div>
                <div class="divsag">
                    <img src="" loading="lazy" alt="" class="logo2" />
                </div>
            </div>


        </div>

    </div>
</body>
</html>
